@using System.Web.UI.WebControls
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/Content/css/foundation.min.css" />
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <div class="row" style="margin-top: 200px;">
            <div class="small-6 columns">
                @if (ViewBag.Error != null)
                {
                    <div class="row">
                        <div class="small-9 small-offset-3 columns error">
                            <p>
                                <label class="error">@Html.Raw(ViewBag.Error)</label>
                            </p>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="small-3 columns">
                        <label for="login" class="right inline">Login:</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="text" name="login" id="login" value="@ViewBag.Login">
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="password" class="right inline">Password:</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="password" name="password" id="password" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="small-9 small-offset-3 columns">
                        <button type="submit" class="small button">Login</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>document.getElementById('login').focus()</script>
</body>
</html>
